<h1>Edit product form</h1>
<form action="" [formGroup]="productForm" (ngSubmit)="onHandleSubmit()">
  <div class="form-group">
    <label for="">Name</label>
    <input type="text" class="form-control" formControlName="name" />
  </div>
  <div class="form-group">
    <label for="">Price</label>
    <input type="text" class="form-control" formControlName="price" />
  </div>
  <div class="form-group">
    <label for="">Image</label>
    <input type="text" class="form-control" formControlName="img" />
    <img [src]="productForm.value.img" alt="" />
  </div>
  <div class="form-group">
    <button
      type="submit"
      class="btn btn-success form-control"
      [disabled]="!productForm.valid"
    >
      Submit
    </button>
  </div>
</form>
